# Output folders
db_reports/
hashes/
reports/
split_logs/out/
split_logs/*.txt
sources/

# Villanova Data
Archive/
*.csv
*.json
db_data/**/*.log
db_data/**/*.txt
remove_excluded/*.log
remove_excluded/*.txt
remove_excluded/**/*.xlsx

# Villanova Content
adjustments/
split_logs/input.csv
split_logs/raw-log
villanova/

# Python
.idea/
__pycache__/
*.py[cod]
*$py.class
